{
    "extends": "eslint-config-egg",
    "env": {
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "rules": {
        "linebreak-style": [
            0
        ],
        "strict": [
            0
        ],
        "semi": [
            "error",
            "never"
        ],
        "indent": [
            "error",
            4
        ],
        "semi-spacing": [
            0,
            {
                "before": false,
                "after": false
            }
        ],
        "quotes": [
            0
        ],
        "quote-props": [
            "error",
            "always"
        ],
        "no-debugger": [
            0
        ],
        "comma-dangle": [
            "error",
            "never"
        ],
        "space-before-function-paren": ["error", "always"]
    }
}
